.u-section-1 .u-sheet-1 {
  min-height: 70px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 12px 21px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: -42px 289px 0 auto;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -33px auto 21px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 701px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 26px;
  margin: 45px 880px 0 189px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: -23px auto 0 12px;
}

.u-section-2 .u-table-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-top: 46px;
    margin-right: 780px;
    margin-left: 89px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 649px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 469px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    margin-top: 88px;
    margin-right: 269px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 106px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 736px;
}